.card-component {
    min-width: 1000px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 75px;
  }
  

  .card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f6f8fa;
    border-bottom: 1px solid #ccc;
  }
  
  .card-body {
    padding: 10px;
    background-color: #fff;
  }
  
  .card-footer {
    padding: 10px;
    background-color: #f6f8fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .blue {
    background-color: #007bff;
    color: white;
  }
  
  .red {
    background-color: #dc3545;
    color: white;
  }
  
  .toggle-button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .small-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  .text-area {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .navigation .button {
    background-color: #6c757d;
    color: white;
  }

/* createflashcardform.css */
.save-set-popup {
  position: fixed; /* Posisjonerer popup-en over alt annet innhold */
  top: 50%; /* Sentrerer vertikalt */
  left: 50%; /* Sentrerer horisontalt */
  transform: translate(-50%, -50%); /* Justerer sentrering basert på popup-ens størrelse */
  width: 500px; /* Bredden på popup-en */
  background-color: #ffffff; /* Bakgrunnsfarge */
  padding: 20px; /* Innvendig avstand */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Legger til en myk skygge rundt popup-en */
  z-index: 100; /* Sikrer at popup-en vises over andre elementer */
  border-radius: 8px; /* Avrundede hjørner for en mykere look */
  border: 1px solid grey;
}

.save-set-popup input {
  width: 100%; /* Gjør inputfeltet full bredde innenfor popup-en */
  padding: 10px; /* Avstand inni inputfeltet */
  margin-bottom: 20px; /* Avstand til neste element */
  border: 1px solid #ccc; /* Grensefarge */
  border-radius: 4px; /* Avrundede hjørner på inputfeltet */
}

.save-set-popup button {
  padding: 10px 20px; /* Avstand inni knappen */
  background-color: #007bff; /* Bakgrunnsfarge */
  color: #fff; /* Tekstfarge */
  border: none; /* Fjerner standard grense */
  cursor: pointer; /* Endrer musepekeren til en peker */
  margin-right: 10px; /* Avstand til neste knapp */
  border-radius: 4px; /* Avrundede hjørner på knappen */
}

.save-set-popup button:last-child {
  background-color: #6c757d; /* Bakgrunnsfarge for den siste knappen (cancel) */
}

.save-set-popup button:hover {
  opacity: 0.8; /* Legger til en hover-effekt */
}
